





    <h1>桃園停車場查詢系統</h1>
    <h2>8/16動工，比賽時間9/24</h2>
    <h3>初始目標</h3>
    <a>第一階段(8/17)</a><br>
    <a>1.由<a href="http://data.tycg.gov.tw/TYCG_OPD/opendata/datalist/datasetMeta/outboundDesc?id=f4cc0b12-86ac-40f9-8745-885bddc18f79&rid=0daad6e6-0632-44f5-bd25-5e1de1e9146f" target="_blank">路外停車資訊</a>
    取回資料，格式為json</a><br>
    <a>2.加入bootstrap-templates</a>
    http://www.oschina.net/news/59924/free-bootstrap-templates

    <br><br><br><br><br><br><br>
    <a>-----------------------------------------------------------------------------------</a>
    <h4>報名網址如下</h4>
    <a href="https://od.tycg.gov.tw/hackathon#sectionB" target="_blank">https://od.tycg.gov.tw/hackathon#sectionB</a>
    <h4>開放資料</h4>
    <a href="http://data.tycg.gov.tw/TYCG_OPD/" target="_blank">http://data.tycg.gov.tw/TYCG_OPD/</a>
    <h4>github已建立，路徑如下</h4>

    <a href="https://github.com/hidesor/parkingba" target="_blank">https://github.com/hidesor/parkingba</a>
  <!--  <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <button class="btn btn-default" type="submit">Button</button> -->
    <br><%= link_to "更新車位資料", parks_path %>
