/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.navbar-background{
  background-image: image-url("parking-imgs/navbar_background.png");
}

 .div_container {
     background-image: image-url("parking-imgs/background.png");
     background-color: #fee6be;   /* 1fa6c6  a1a206  e69f0d*/
 }
.div_about{
  background-color: #fee6be;   /* 1fa6c6  a1a206  e69f0d*/
  padding-top: 130px;
  padding-bottom: 50px;
}
.text_about_a{
  color:#31c9de;
}
.text_about_b{
  color:#2c1a0c;
  font-size:20px;
  text-align: left;
  width: 70%;
  margin-left: 15%;
}

.div_model{
  position:absolute;
  z-index:1000;
  background-image: image-url("parking-imgs/background.png");
}
.div_model_map{
  height:100%;
  height:400px;
}
.text_model{
  color:#31c9de;
}

.park_background_image_cabin_a {
    /*background-image: image-url("parking-imgs/park_ground.png");*/
    height:200px;
    /*background: linear-gradient(#39F 20%, #6AF 80%);*/
    background-color: #1fa6c6;   /* 1fa6c6  a1a206  e69f0d*/
 }
 .park_background_image_cabin_b {
     /*background-image: image-url("parking-imgs/park_ground.png");*/
     height:200px;
     /*background: linear-gradient(#39F 20%, #6AF 80%);*/
     background-color: #a1a206;   /* 1fa6c6  a1a206  e69f0d*/
  }
  .park_background_image_cabin_c {
      /*background-image: image-url("parking-imgs/park_ground.png");*/
      height:200px;
      /*background: linear-gradient(#39F 20%, #6AF 80%);*/
      background-color: #e69f0d;   /* 1fa6c6  a1a206  e69f0d*/
   }
 .park_content{
   padding-top: 30px;
   padding-left: 20px;
 }
.park_content_word{
  color:#FFFFFF;
  font-size:15px;

}
.park_content_word_title{
  color:#000000;
  font-size:15px;
}
.show_surplusspace_div{
   color:#FFFF00;
   font-size:80px;
   padding-top: 0px;
/*   padding-right: 20px;  */
   text-align:right;
/*   font-family:Comic Sans MS,arial,helvetica,sans-serif; */
   font-weight: bold;
}

.park_container{
  color:#FFFF00;
}



 .logo_rotate{
   -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
 }
 .menu_li{
   color:#FFFF00;
   border:0px #ccc solid;
   padding:6px;
 }
 .menu_word{
   color:red;
 }
