<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom navbar-background">
    <div class="container navbar-background ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header  page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <!-- <a class="navbar-brand" href="#page-top">Parking Ba!</a> -->
            <a class="navbar-brand" href="#page-top">
                <div class="logo_rotate" id="0"><%= image_tag("packingba_logo.png") %></div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden ">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll menu_li">
                <!--    <a class="menu_word" href="<!%= note_path %>">紀錄</a>  -->
                    <a class="menu_word" href="#"></a>
                </li>
                <li class="page-scroll menu_li">
                <!--    <a class="menu_word" href="#portfolio">停車場們</a>  -->
                <a class="menu_word" href="http://ebus.tycg.gov.tw/NewTaoyuan/Dybus.aspx">桃園市公車動態資訊系統</a>
                </li>
                <li class="page-scroll menu_li">
                <!--    <a class="menu_word" href="#about">說明</a>  -->
                    <a class="menu_word" href="http://openquery.tycg.gov.tw/">桃園市政府罰緩規費管理系統</a>
                </li>
                <li class="page-scroll menu_li">
                <!--    <a class="menu_word" href="<!%= note_path %>">紀錄</a>  -->
                    <a class="menu_word" href="http://traffic.tycg.gov.tw/">桃園市政府交通局</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
